.resume-container {
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center; /* This will center the child elements horizontally */
    justify-content: center; /* This will center the child elements vertically if there's space */
}

.pdf-container {
    margin-top: 30px;
    width: 70%;
    overflow: auto; /* Adds scrollbars if the PDF is longer than the container */
    height: 500px;
  }
  
.resume-header {
    margin-bottom: 20px; /* Adjust as needed for spacing */
  }

.resume-title {
    margin: 0;
  }

.resume-subtitle {
    color: #666; /* Dark grey color for the subtitle */
    margin: 0;
  }