.resume-container {
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center; /* This will center the child elements horizontally */
    justify-content: center; /* This will center the child elements vertically if there's space */
    padding-top: 8px;
}

.pdf-container {
    margin-top: 15px;
    overflow: auto; /* Adds scrollbars if the PDF is longer than the container */
    height: 500px;
    width: 60%;
  }
  
.resume-header {
    margin-bottom: 20px; /* Adjust as needed for spacing */
  }

.resume-title {
    margin: 0;
  }

.resume-subtitle {
    color: #666; /* Dark grey color for the subtitle */
    margin: 0;
  }

  @media screen and (max-width: 767px) {
    .pdf-container {
        height: 450px;

    }
}

.resume-switch {
  align-items: center;
}