main {
  height: 100vh;   /* This will take up the full viewport height */
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #fff;  /* Assuming a white background */
  text-align: center;
}

.profile-text h1 {
  font-size: 2.5rem;   /* Large, bold font for the name */
  color: #000;   /* Black color for the text */
  margin: 0;
}

.profile-text p {
  font-size: 1rem;   /* Smaller font size for the subtitle */
  color: #666;   /* Dark grey color for the subtitle */
}

.profile-avatar img {
  width: 150px;   /* Adjust the size as needed */
  height: 150px;
  object-fit: cover;   /* Ensures the image covers the area without stretching */
}

/* Desktop styles */
@media screen and (min-width: 768px) {
  .profile-avatar img {
    margin-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .profile-text h1 {
    font-size: 1.5rem;     /* Large, bold font for the name */
    color: #000;     /* Black color for the text */
  }
  .profile-text p {
    font-size: .8rem;
  }
  .profile-avatar img {
    margin-left: 5px;
  }
}