.resume-section {
    width: 100%;
  }
  
  .resume-container {
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center; /* This will center the child elements horizontally */
    justify-content: center; /* This will center the child elements vertically if there's space */
    padding-top: 8px;
    width: 100%;
    max-width: 1600px; /* Adjust as needed */
  }
  
  .pdf-container {
    margin-top: 15px;
    overflow: auto; /* Adds scrollbars if the PDF is longer than the container */
    height: 800px;
    width: 100%;
    margin-bottom: 20px; /* Add some spacing between PDFs */
  }

  .pdf-container object {
    width: 100%;
    height: 100%;

  }
  
  .resume-header {
    margin-bottom: 20px;
    width: 50%;
  }
  
  .resume-title, .resume-subtitle {
    margin: 0;
  }
  
  .resume-subtitle {
    color: #666; /* Dark grey color for the subtitle */

  }
  
  .resume-switch {
    text-align: center;
    margin-bottom: 20px; /* Added for spacing */
    display: flex; /* Added to display buttons in a row */
    justify-content: center; /* Center the buttons horizontally */
    gap: 10px; /* Added for spacing between buttons */
  }
  
  .resume-button {
    background: white;
    color: var(--link-color);
    border: none;
    cursor: pointer;
    padding: 5px;
    margin: 0 5px; /* Added for spacing between buttons */
    font-size:large;
  }

  .resume-button:hover {
    color: var(--link-hover-color);
    
  }

  .resume-button.selected {
    color: var(--secondary-color);
  }
  
  @media screen and (max-width: 767px) {
    .resume-container {
      padding: 0 10px; /* Add padding to the sides */
      width: 100%;
    }
  
    .pdf-container {
      height: 450px;
      width: 100%; /* Ensure it takes full width */
      margin-bottom: 10px; /* Adjust spacing */
    }
  
    .resume-header {
      width: 100%; /* Make header full width */
    }
  
    .resume-title, .resume-subtitle {
      font-size: 1.2em; /* Adjust font size for readability */
    }
    .resume-subtitle {
      font-size: 1.1em; /* Adjust font size for readability */
    }
  
    .resume-switch {    
      display: flex;
      flex-direction: column; /* Stack buttons vertically */
      gap: 5px; /* Adjust spacing between buttons */
    }
  
    .resume-button {
      font-size: medium; /* Adjust button font size */
      padding: 10px; /* Increase padding for touch targets */
    }
  }