.navbar {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    width: 100%;
  }
  
  .navbar li {
    display: inline-block;
    padding: 10px 20px;
  }

  .navbar a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    margin: 0 10px;
    font-size: 1em;
    transition: color 0.3s ease;
  }

  .nav-link:hover {
    color: #67dfec; /* Hover color */
  }
  
  .nav-link.active {
    color: #0d3dce; /* Active color */
    font-weight: bold; /* Makes active link bold */
  }

  /* Desktop styles */
    @media screen and (min-width: 768px) {
    .navbar {
        margin: auto;
        margin-bottom: 25px;
    }
    }  

    @media screen and (max-width: 767px) {
        .navbar li {
            margin: auto;
            display: inline-block; /* To align the navbar items horizontally */
            
        }
        .navbar a{
            font-size: .85rem; /* Increase the font size if needed */
            padding: 5px 5px;
        }
    }