.navbar {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: var(--background-color);
    box-shadow: 0 2px 2px 0px rgba(0,0,0,.2);
    width: 100%;
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensures the navbar stays on top of other content */
  }
  
  .navbar li {
    display: inline-block;
    padding: 10px 20px;
  }

  .navbar a {
    text-decoration: none;
    color:var(--text-color-jet);
    padding: 10px 15px;
    margin: 0 10px;
    font-size: 1em;
    transition: color 0.3s ease; 
  }

  .nav-link:hover {
    color: var(--link-hover-color); /* Hover color */
  }
  
  .nav-link.active {
    color: var(--link-color); /* Active color */
    font-weight: bold; /* Makes active link bold */
  }

  /* Desktop styles */
    @media screen and (min-width: 768px) {
    .navbar {
        margin: auto;
        margin-bottom: 25px;
    }
    }  

    @media screen and (max-width: 767px) {
        .navbar li {
            margin: auto;
            display: inline-block; /* To align the navbar items horizontally */
            
        }
        .navbar a{
            font-size: .95rem; /* Increase the font size if needed */
            padding: 5px 5px;
        }
    }