  .App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .ContentWrapper {
    flex: 1;
    overflow-y: auto; /* Keeps existing scroll behavior if content exceeds viewport */
    padding-bottom: 20px; /* Adds a bit of padding at the bottom for spacing */
  }