/* Apply globally in your main CSS file */

  
  h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700; /* Use the semi-bold weight for Poppins */
  }
  
  h2, h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }

  p {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
  }

  li, a {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 800;
  }

  body {
    font-family: 'Inconsolata', sans-serif;
  }
  
  code, pre {
    font-family: 'Inconsolata', monospace;
    font-weight: 200; /* Use the light weight for a more refined look */
  }
  
 
  
 